{% extends '::base.html.twig' %}

{% block body %}
    
        <!-- Begin page content -->
     
    
    <div class="container" >
        <form role="form">

          <a class="btn btn-large btn-success" href="{{ url('managerlist') }}"  role="button">Show Funds &raquo;</a>

                 {{ form(form) }}
    </div>
</form>
    <div class="footer">
      
     
      
    </div>


        
{% endblock %}
